* {
  font-family: Manrope, sans-serif;
  margin: 0px;
}

body header {
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/header/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 667px;
}
body header .logo {
  padding-left: 69px;
  padding-top: 51px;
}
body header .formulaire {
  flex: 1;
  /* Le formulaire prendra la hauteur restante du header */
  display: flex;
  justify-content: center;
  align-items: center;
}
body header .formulaire form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body header .formulaire form label {
  color: #FFD15B;
  font-family: Anton;
  font-size: 44px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
body header .formulaire form .input-icon {
  position: relative;
}
body header .formulaire form .input-icon input {
  width: 954px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 11px;
  background-color: #FFFFFF;
}
body header .formulaire form .input-icon .icon {
  background-color: black;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  width: 51px;
  height: 52px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
body main {
  background-color: #EDEDED;
}
body main .filtres {
  display: flex;
}
body main .filtres section {
  position: relative;
  margin: 33px;
}
body main .filtres section .liste-title, body main .filtres section .liste-title-active {
  color: #1B1B1B;
  width: 163px;
  padding: 16px;
  border: none;
  cursor: pointer;
  background-color: #FFFFFF;
  border-radius: 11px;
}
body main .filtres section .liste-title-active {
  border-radius: 11px 11px 0px 0px;
}
body main .filtres section .liste {
  display: none;
}
body main .filtres section .liste-active {
  display: block;
  position: absolute;
  padding: 0;
  z-index: 2;
  width: 163px;
  padding: 16px;
  background-color: #FFFFFF;
}
body main .filtres section .liste-active .input-icon {
  position: relative;
}
body main .filtres section .liste-active .input-icon .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
body main .filtres section .liste-active li {
  padding: 5px 10px;
  list-style-type: none;
  cursor: pointer;
}
body main .filtres section .liste-active li:hover {
  background-color: #FFD15B;
}