$primary-color-background: #FFFFFF;
$primary-color-font: black;

$secondary-color-background: #FFD15B;
$secondary-color-font: #1B1B1B;

$tertiaire-color-background: white;
$tertiaire-color-font: #7A7A7A;

$quartiere-color-background: black;
$quartiere-color-font: #FFD15B;

$icone-formulaire-recherche-background: black;

$section-recettes-background: #EDEDED;