@import 'style.scss';

body {
    header {
        display: flex;
        flex-direction: column;
        background-image: url('../../assets/header/background.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 667px;

        .logo {
            padding-left: 69px;
            padding-top: 51px;
        }

        .formulaire {
            flex: 1;
            /* Le formulaire prendra la hauteur restante du header */
            display: flex;
            justify-content: center;
            align-items: center;

            form {
                display: flex;
                flex-direction: column;
                align-items: center;

                label {
                    color: $quartiere-color-font;
                    font-family: Anton;
                    font-size: 44px;
                    text-transform: uppercase;
                    margin-bottom: 30px;
                }

                .input-icon {
                    position: relative;

                    input {
                        width: 954px;
                        height: 72px;
                        flex-shrink: 0;
                        border-radius: 11px;
                        background-color: $primary-color-background;
                    }

                    .icon {
                        background-color: $icone-formulaire-recherche-background;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 10px;
                        width: 51px;
                        height: 52px;
                        border-radius: 10px;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    main {

        background-color: $section-recettes-background;

        .filtrestotalRecettes {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .filtres {
                display: flex;


                section {
                    position: relative;
                    margin: 33px;
                    width: 195px;


                    .liste-title {
                        color: $secondary-color-font;
                        border: none;
                        cursor: pointer;
                        padding: 16px;
                        border-radius: 11px;
                        background-color: $primary-color-background;
                    }

                    .liste-title-active {
                        @extend .liste-title;
                        border-radius: 11px 11px 0 0;
                    }

                    .liste-input-icon {
                        display: none;
                    }

                    .liste-input-icon-active {
                        display: block;
                        position: absolute;
                        background-color: $primary-color-background;
                        border-radius: 0px 0px 11px 11px;
                        z-index: 2;

                        .input-icon {
                            width: 163px;
                            height: 36px;
                            position: relative;
                            padding: 0 16px 13px 16px;

                            #recherche {
                                height: 100%;
                                width: 100%;
                                border-radius: 2px;
                                padding: 0;
                                margin: 0;
                                border: 1px solid #7A7A7A;
                            }

                            .icon {
                                padding: 0 16px 13px 16px;
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                right: 10px;
                                border-radius: 10px;

                                display: flex;
                                justify-content: center;
                                align-items: center;
                                cursor: pointer;
                            }
                        }

                        ul {
                            list-style-type: none;
                            padding: 0;
                            max-height: 200px;

                            overflow-y: auto;


                            li {
                                height: 19px;
                                padding: 7.5px 0 7.5px 13px;
                                display: flex;
                                align-items: center;
                                cursor: pointer;

                                span {
                                    padding: 16px;
                                }
                            }

                            li:hover {
                                background-color: $secondary-color-background;
                            }
                        }
                    }





                }


            }

            .totalRecettes {
                margin: 33px;

                span {
                    color: var(--Black, #1B1B1B);
                    font-family: Anton;
                    font-size: 21px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }

        }


        .choixFiltres {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            align-items: center;
            justify-content: center;

            margin: 10px;

            div {
                background-color: $secondary-color-background;
                color: $secondary-color-font;
                margin: 10px;
                height: 53px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-left: 18px;
                border-radius: 10px;

                span {
                    font-size: 14px;

                }

                div {
                    cursor: pointer;
                }
            }


        }

        .recettes {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-items: center;
            justify-content: center;
            border-radius: 21px;

            article {
                margin: 21px;
                border-radius: 21px;
                height: 731px;
                background-color: white;

                img {
                    border-radius: 21px 21px 0 0;
                    width: 100%;
                    height: 253px;
                    object-fit: cover;
                }

                .containText {
                    box-sizing: border-box;
                    padding: 32px;
                    height: 478px;

                    h1 {
                        color: #000;
                        font-family: Anton;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        margin-bottom: 29px;
                    }

                    h2 {
                        color: var(--Grey, #7A7A7A);
                        font-family: Manrope;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        letter-spacing: 1.08px;
                        text-transform: uppercase;
                        margin-bottom: 15px;
                    }

                    .descriptionRecette {
                        height: 76px;
                        overflow: hidden;
                        margin-bottom: 32px;
                        line-height: 20px;
                        /* Hauteur de ligne souhaitée */
                        max-height: 80px;
                        /* 4 lignes de 20px chacune */

                        span {
                            color: var(--Black, #1B1B1B);
                            font-family: Manrope;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;


                        }
                    }

                    .ingredients>* {
                        margin: 10px;

                    }

                    .ingredients {

                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        max-height: 80px;
                        /* 4 lignes de 20px chacune */

                        h3 {
                            color: var(--Black, #1B1B1B);
                            font-family: Manrope;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                        }

                        span {
                            color: var(--Grey, #7A7A7A);
                            font-family: Manrope;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }
                }


            }

        }
    }
}